<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=172.25.20.54;Initial Catalog=BPM; Max Pool Size=150;Connect Timeout=500; Persist Security Info=True;User ID=sa;Password=Fpkurg.123" />
    <add key="ConnectionString1" value="Data Source=172.25.20.47;Initial Catalog=BPM; Max Pool Size=150;Connect Timeout=500; Persist Security Info=True;User ID=sa;Password=Founder@2014" />
    <add key="admin" value="zhangweixing,luoz" />
    <add key="superadmin" value="zhangweixing" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <siteMap enabled="true">
      <providers>
        <add name="Web" type="System.Web.XmlSiteMapProvider" siteMapFile="web.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
  </system.web>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.1.3.1" newVersion="2.1.3.1" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ITSupportPlatform.Services.AjaxServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="ITSupportPlatform.Services.AjaxService">
        <endpoint address="" behaviorConfiguration="ITSupportPlatform.Services.AjaxServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ITSupportPlatform.Services.AjaxService"  />
      </service>
    </services>
  </system.serviceModel>
</configuration>
